body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.login-container {
    display: flex;
    height: 100%;
}

.left-panel {
    flex: 1;
    max-width: 20%;
    background: #fff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-panel .logo {
    max-width: 100px;
    margin-bottom: 10px;
}

.left-panel .title {
    margin: 0 0 20px 0;
}

.left-panel form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left-panel label {
    margin-top: 10px;
}

.left-panel input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.left-panel input:focus {
    outline: none;
    border-color: #ff69b4;
    box-shadow: 0 0 4px #ff69b4;
}

.left-panel button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #452567;
    color: #fff;
    cursor: pointer;
}

.signup-text {
    margin: 10px 0 20px 0;
}

.signup-text a {
    color: blue;
}

.flash-messages {
    color: red;
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.right-panel {
    flex: 4;
    background-color: #452567;
    background-image: url('images/BackgroundLoginPage.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
